h1{
    text-align: center;
}
body{
    margin: 0px;
    background-color: blueviolet;
    color: white;
}
div{
    margin: 20px;
    text-align: center;
}
img {
    height: 100%;
    width: 100%;
}
.disp{
    display: flex;
    flex-wrap: nowrap;
}